<!DOCTYPE html5>
<html> 

<!-- <img id="logo" src="{{ url_for('static', filename='img/standard.png') }}"/>
<br>
<link href ="{{ url_for('static', filename = 'css/style.css') }}" rel ="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<body>
<form action="/quiz" method="POST" id="quiz">
    <ul>
        {% for i in q %}
            <li><p class = "questions"> {{i[1]}} </p></li>
            {% for j in o[i][0] %}
                <input type="radio" value = {{j}} name = {{i}} id="mc">{{j}}
		
            {% endfor %}
        {% endfor %}
    </ul>
    <input type="submit" value="I'm finished!" >
</form>

<div id = "after_submit">
    <p id = "number_correct"></p>
    <p id = "message"></p>
    <img id = "picture" > -->
<form>
    <ul>
        <li><input type = "radio" value = "correct.png"></li>
    </ul>
</form>
</div>
</body>
</html>

