<html>
	<img id="logo" src="{{ url_for('static', filename='img/standard.png') }}"/>

	<head>
		<title>Project Haasil</title>
		<br>
	    <br>
		<link href ="{{ url_for('static', filename = 'css/style_1.css') }}" rel ="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
		
	</head>
	<body>
		<form action = "http://localhost:8000/name" method="POST">

			<p>Enter Student's Name: <input type="text" name="name"/></p>
			<p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>
